*,
*::before,
*::after {

    box-sizing: border-box;
}

:root {

    /* Font size */
    --fs-m: 2em;
    --fs-l: 3.5em;

    /* Color */
    --white: white;
}

@font-face {
    font-family: 'Lawrence', sans-serif;
    src: url(./fonts/OPTILawrence.otf);
}