body, html {

    height: 110%;
    margin: 0;
    color: white;
}

li {
    word-spacing: .4em;
}

a {
    text-decoration: none;
    color: var(--white);
}

.mobile-background {

    background: url("../assets/destination/background-destination-mobile.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    padding: 1em;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding-top: 1em;
}

.show {
    display: block;
}

.mobile-menu {

    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(1, 1, 40);
    color: var(--white);
    height: 100%;
    width: 100%;
    /* z-index: 1; */
}

.close {
    padding-right: 2em;
    padding-top: 2.2em;
}

.hide { 
    display: none;
}

.mobile-menu ul li {

    margin-top: 4em;
    list-style: none;
    text-align: justify;
    animation: appear .6s ease-in-out;
    
}

@keyframes appear {

    0% {
        transform: translateX(-200px);
    }

    100% {
        transform: translateX(0px);
    }
    
}



.mobile-name {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin-top: 1em;
    margin-left: 1em;
    margin-bottom: -1.6em;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1em;
    z-index: 1;

}

.mars {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4em;
}

.mars-image {
    align-self: center;
    width: 80%;
}

.indicator {
    display: flex;
    gap: 2em;
    justify-content: center;
    /* background: yellow; */

}

.grey {
    
    padding: .2em 1.2em;
    background: grey;
    border: 0 solid transparent;
    border-radius: 4em;
    margin-top: 1.2em;
}

.grey:hover {
    background: white;
}

.mars-content {
    line-height: 2em;
    text-align: center;
    margin-top: 2em;
    /* animation: appear 2s; */
}

.name {
    animation: emerge 2s ease-in;
}

.info {
    display: block;
    text-align: center;
}


.planet-para {
    margin-bottom: 2em;
    animation: emerge 1.2s ease-in;
    font-weight: bold;
    color: white;
    text-align: justify;
}

@keyframes emerge {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

.avg-distance, .est-time {
    font-size: .6em;
    color: grey;
    animation: appearLeft .6s ease-in;
}

.figure {
    animation: appearRight .6s ease-in;
}

@keyframes appearRight {

    0% {
        transform: translateX(200px);
    }

    100% {
        transform: translateX(0px);
    }
    
}

@keyframes appearLeft {

    0% {
        transform: translateX(-200px);
    }

    100% {
        transform: translateX(0px);
    }
    
}

.figure {
    font-size: 1.5em;
    margin-top: -.8em;
}


.hide {
    display: none;
}


.desktop {
    background-image: url("../assets/destination/background-destination-desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center ;
    height: 100%;
}


.desktop-logo {
    padding-left: 2em;
}

.desktop-links {
    display: flex;
    gap: 6em;
    justify-content: center;
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(5px);
    list-style: none;
    padding: 1.6em 8em;
}

.desktop-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14em;
    color: var(--white);
    margin-top: 18em;
}

.desktop-home-header {

    font-size: 1em;
    word-spacing: 1em;
    text-align: left;
}

.desktop-space {
    font-size: 6em;
    letter-spacing: .1em;
    text-align: left;
    margin-top: -.1em;
}

.desktop-space-para {

    margin-top: -3em;
    text-align: justify;
    line-height: 1.5em;
    color: var(--grey);    
}

.desktop-explore {

    background: white;
    padding: 6em;
    border-radius: 50%;
    color: black;
    font-size: 1.5em;
}

.link:hover::after {

    content: " ";
    position: relative;
    display: block;
    top: 1.5em;
    height: 3px;
    background-color: white;
    
}

.pick {

    display: flex;
    gap: 1em;
    margin-left: 30em;
    margin-top: 5em;
    letter-spacing: .2em;
}

.pick-num {
    color: grey;
    
}


.desktopMobileContent {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20rem;
    margin-top: 10rem;
  
}

.planet-links  {
    display: flex;
    gap: 1em;
    font-size: .8em;
    margin-left: -2.8em;
    list-style: none;
    color: silver;
    letter-spacing: .2em;
}



.planet-link:hover::after {

    content: " ";
    position: relative;
    display: block;
    top: .7em;
    height: 3px;
    background-color: white;
    
}



.hide {
    display: none;
}

.name {

    text-transform: uppercase;

    margin-top: -.6em;
    font-size: 5em;
 
}
.desktop-planet-para {
    max-width: 500px;
    margin-top: -3em;
    text-align: left;
    line-height: 1.5em;

}

.planet-stats {

    display: flex;
    gap: 9em;
    color: silver;
  
}
