body, html {

    height: 100%;
    margin: 0;
    color: white;
}

.mobile-background {

    background: url("../assets/destination/background-destination-mobile.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    padding: 1em;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    /* padding-top: 1em; */

}

.show {
    display: block;
}

.mobile-menu {

    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(1, 1, 40);
    color: var(--white);
    height: 100%;
    width: 100%;
}

.close {
    padding-right: 2em;
    padding-top: 2.2em;
}

.hide { 
    display: none;
}

.mobile-menu ul li {

    margin-top: 4em;
    list-style: none;
    text-align: justify;
    animation: appear .6s ease-in-out;
    
}

.planet-para-mobile {
    line-height: 1.6em;
    text-align: justify;

}

.nameMobile {
    text-align: center;
    text-transform: uppercase;
    margin-top: -.6em;
    font-size: 5em;
 
}

.nameMobile {
    animation: emerge 2s ease-in;
}

.mobileName {

    display: flex;
    justify-content: center;
}

.planet-img {

    display: flex;
    justify-content: center;
    animation: emerge 2s ease-out;
}

.indicator {
    display: flex;
    gap: 2em;
    justify-content: center;
    padding-bottom: 2em;
}

.grey {
    
    padding: 1em 1em;
    background: grey;
    border: 0 solid transparent;
    border-radius: 4em;
    margin-top: 1.2em;
}

.grey:hover {
    background: white;
}


.planet-para {
    margin-bottom: 2em;
    animation: emerge 1.2s ease-in;
    font-weight: bold;
    color: white;
    text-align: justify;
}


.info {
    display: block;
    text-align: center;
}

.planet-content {
    line-height: 2em;
    text-align: center;
    margin-top: 2em;
    animation: emerge 1s ease-out;
}



.avg-distance, .est-time {
    font-size: .6em;
    color: grey;
    /* animation: appearLeft .6s ease-in; */
}

.figure {
    font-size: 1.5em;
    margin-top: -.8em;
    animation: appear 1s ease-in-out;
}



/* Animations */

@keyframes emerge {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

@keyframes appear {

    0% {
        transform: translateX(-200px);
    }

    100% {
        transform: translateX(0px);
    }
    
}

@keyframes appearRight {

    0% {
        transform: translateX(200px);
    }

    100% {
        transform: translateX(0px);
    }
    
}

@keyframes appearLeft {

    0% {
        transform: translateX(-200px);
    }

    100% {
        transform: translateX(0px);
    }
    
}

.hide {
    display: none;
}

/* mobile styling ends here */



/* Desktop styling starts */

.desktop {
    background-image: url("../assets/destination/background-destination-desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center ;
    height: 100%;
}

.desktop-logo {
    padding-left: 2em;
}

.desktop-links {
    display: flex;
    gap: 6em;
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(5px);
    list-style: none;
    padding: 2em 8em;
    margin-top: 0;
 
}


li {
    word-spacing: .4em;
}

.link:hover::after {

    content: " ";
    position: relative;
    display: block;
    top: 2em;
    height: 2px;
    background-color: white;
    
}

a {
    color: white;
    text-decoration: none;
}

.pageDetails {

    display: flex;
    gap: 1em;
    margin-left: 30em;
    margin-top: 5em;
    letter-spacing: .2em;
}

.pick-num {
    color: grey;
    
}

.desktopContent {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    margin-top: -4rem;
    padding-left: 2em;
    padding-right: 2em;
}

.planet-links  {
    display: flex;
    gap: 1em;
    font-size: .8em;
    margin-left: -16em;
    margin-top: -6em;
    list-style: none;
    /* color: grey; */
    letter-spacing: .2em;
    
}

.planet-link a {
    color: grey;
}

.planet-link:hover::after {

    content: " ";
    position: relative;
    display: block;
    top: .7em;
    height: 3px;
    background-color: white;
    
}

.hide {
    display: none;
}

.name {

    text-transform: uppercase;
    margin-top: -.6em;
    font-size: 5em;
 
}
.desktop-planet-para {
    max-width: 500px;
    margin-top: -3em;
    padding-bottom: 2em;
    text-align: left;
    line-height: 1.5em;
    animation: emerge 3s ease-out;
    color: grey;

}

.line {
    animation: emerge 4s ease-out;
}

.planet-stats {

    display: flex;
    gap: 9em;
    color: silver;
    padding-top: 1em;
    animation: emerge 2s ease-out;
  
}

#link {

    display: flex;
    justify-content: center;
    margin-left: 33rem;
    margin-top: 10rem;

}

.dis, .time {
    font-size: .6em;
    color: grey;
    letter-spacing: .2em;
}

.planet-time, .planet-distance {

    font-size: 2em;
    margin-top: -1em;
}

/* Desktop styling ends here */


/* Media query for mobile at screen width <= 1064 */
@media screen and (width <= 1064px)  {

    .mobile {
        display: block;
    }

    .desktop {
        display: none;
    }
    
    .moon-para {
        line-height: 1.3em;
        margin: 2em 0;
    }

    .planet-img {
        margin-top: -4em;
    }

    .planet-info {
        padding: 1em 0;
    }
    
}

@media screen and (width <= 420px) {

    .plant {
        width: 100%;
    }

}

@media screen and (height <= 1000px) {

    .mobile, .mobile-menu {
        height: 1100px;
    }

  
}


/* Media query for desktop at screen width >= 1065 */

@media screen and (width >= 1065px)  {

    .mobile {
        display: none;
    }

    .desktop {
        display: block;
    }
    
}
