body, html {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Inter', sans-serif;
}

.mobile {
    background: url("../assets/technology/background-technology-mobile.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}

.mobileFlex {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 1em 1em;

}

.show {
    display: block;
}

.mobile-menu {

    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(1, 1, 40);
    color: var(--white);
    height: 100%;
    width: 100%;
}

.noscroll {
    position: fixed;
}


.close {

    padding-right: 2em;
    padding-top: 2.2em;
}


.hide { 
    display: none;
}

.mobile-menu ul li {
    margin-top: 4em;
    list-style: none;
    text-align: justify;
    animation: appear .6s ease-in-out;
}

.mobileContent {
    animation: emerge 1s ease-in-out;
}

.mobilePageTitle {
    color: grey;
    font-size: 1.5em;
    padding-top: 1em;
    padding-bottom: 1.5em;
    padding-inline: 1em;
   
}


.techDetailsMobile {
    line-height: 1.5em;
}

.name {
    text-transform: uppercase;
    font-size: 1.2em;
    text-align: center;
    color: white;
}

.description {
    padding-inline: 1em;
    color: grey;
    text-align: center;
}


.indicatorMobile {
    display: flex;
    gap: 2em;
    justify-content: center;
    padding-bottom: 2em;
}

.grey {
    
    padding: 1em 1em;
    background: grey;
    border: 0 solid transparent;
    border-radius: 4em;
    margin-top: 1.2em;
}

.grey:hover {
    background: white;
}

.active {
    background-color: grey;
}


@keyframes emerge {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

@keyframes appear {

    0% {
        transform: translateX(-300px);
    }

    100% {
        transform: translateX(0px);
    }
    
}

@keyframes pageDetail {

    0% {
        transform: translateX(-800px);
    }

    100% {
        transform: translateX(0px);
    }
    
}

.techImages {
    width: 100%;
}

.desktop {

    background: url("../assets/technology/background-technology-desktop.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;

}

.desktop-logo {
    padding-left: 2em;
}

.desktop-links {
    display: flex;
    gap: 6em;
    justify-content: center;
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(5px);
    list-style: none;
    padding: 2em 8em;
    margin-top: 0;
}

li {
    word-spacing: .4em;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link:hover::before {

    content: " ";
    position: relative;
    display: block;
    top: 3em;
    height: 2px;
    background-color: white;
}

a {
    color: white;
    text-decoration: none;
}

.pageDetails {
    display: flex;
    gap: 2em;
    word-spacing: .2em;
    letter-spacing: .2em;
    margin-left: 25em;
    margin-top: 5em;
    animation: pageDetail 2s ease-in-out;
}

.pageNum {
    color: grey;
}

.pageText {
    color: white;
}

.indicator {
    display: flex;
    flex-direction: column;
    gap: 1em;
    font-size: 2em;
    font-weight: bold;
}

.indicator .grey {

    color: white;
    padding: 1.8em;
    border-radius: 50%;
    border: .1em solid white;
    background: transparent;

}

.grey.active {
    background: white;
    color: black;
}

.grey:hover {
    background: white;
    color: black;
}

@keyframes emerge {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

.pageContent {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    margin-top: 5em;
    padding-left: 30em;
    padding-right: 22em;
    overflow: hidden;
  
}

.animate {
    animation: emerge 2s ease-out;
}

.techDetails {
    color: white;
    width: 500px;
}

.detailsHeading {
    color: grey;
    font-size: .8em;
}

.techDetailsOneDesktop, .techDetailsTwoDesktop, .techDetailsThreeDesktop {
    display: flex;
    align-items: center;
    gap: 4em;
}

.techName {
    font-size: 3em;
    text-transform: uppercase;
    margin-top: -.8em;
}

.techDetails {
    line-height: 2em;
    margin-top: -.8em;
}

.hide {
    display: none;
}


/* media queries */

@media screen and (width <= 1064px)  {

    .mobile {
        display: block;
    }

    .desktop {
        display: none;
    }
      
}


@media screen and (width >= 1000px) and (width <= 1064px){

    .mobile {
        height: 1520px;
    }

}

@media screen and (width >=570px) and (width <= 705px) {

    .mobile {
        height: 1110px;
    }
    
}

@media screen and (width >=706px) and (width <= 801px) {

    .mobile {
        height: 1200px;
    }
    
}

@media screen and (width >=802px) and (width <= 908px) {

    .mobile {
        height: 1300px;
    }
    
}

@media screen and (width >=910px) and (width <= 950px) {

    .mobile {
        height: 1400px;
    }
    
}

@media screen and (width >=951px) and (width <= 980px) {

    .mobile {
        height: 1450px;
    }
    
}

@media screen and (width >=981px) and (width <= 1064px) {

    .mobile {
        height: 1500px;
    }
    
}

@media screen and (height <= 850px) {

    .mobile{
        height: 1200px;
    }

  
    
}


/* Media query for desktop at screen width >= 1065 */

@media screen and (width >= 1065px)  {

    .mobile {
        display: none;
    }

    .desktop {
        display: block;
    }
    
}
