body, html {

    height: 100%;
    margin: 0;

}

.mobile {
    background: url("../assets/technology/background-technology-mobile.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}

.mobileFlex {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 1em 1em;

}

.show {
    display: block;
}

.mobile-menu {

    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(1, 1, 40);
    color: var(--white);
    height: 100%;
    width: 100%;
}

.close {
    padding-right: 2em;
    padding-top: 2.2em;
}

.hide { 
    display: none;
}

.mobile-menu ul li {

    margin-top: 4em;
    list-style: none;
    text-align: justify;
    animation: appear .6s ease-in-out;
    
}

@keyframes appear {

    0% {
        transform: translateX(-200px);
    }

    100% {
        transform: translateX(0px);
    }
    
}


.techImages {
    width: 100%;
}


.desktop {

    background: url("../assets/technology/background-technology-desktop.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;

}

.desktop-logo {
    padding-left: 2em;
}

.desktop-links {
    display: flex;
    gap: 6em;
    justify-content: center;
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(5px);
    list-style: none;
    padding: 2em 8em;
    margin-top: 0;
}

li {
    word-spacing: .4em;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.link:hover::before {

    content: " ";
    position: relative;
    display: block;
    top: 3em;
    height: 2px;
    background-color: white;
    
}

a {
    color: white;
    text-decoration: none;
}

.indicator {
    display: flex;
    gap: 1em;
}


.indicator .grey {

    color: white;
    padding: 1.6em;
    border-radius: 50%;
    border: .1em solid white;
    background: transparent;

}

.grey:active {

    background: white;
    color: black;

}

.grey:hover {
    background: white;
    color: black;
}



@media screen and (width <= 1064px)  {

    .mobile {
        display: block;
    }

    .desktop {
        display: none;
    }
    
   
    
}

/* Media query for desktop at screen width >= 1065 */

@media screen and (width >= 1065px)  {

    .mobile {
        display: none;
    }

    .desktop {
        display: block;
    }
    
}


