body, html {

    height: 100%;
    margin: 0;

}

.mobile {
    background: url("../assets/technology/background-technology-mobile.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    display: none;
}

.desktop {

    background: url("../assets/technology/background-technology-desktop.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;

}

.desktop-logo {
    padding-left: 2em;
}

.desktop-links {
    display: flex;
    gap: 6em;
    justify-content: center;
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(5px);
    list-style: none;
    padding: 2em 8em;
    margin-top: 0;
}

li {
    word-spacing: .4em;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.link:hover::before {

    content: " ";
    position: relative;
    display: block;
    top: 3em;
    height: 2px;
    background-color: white;
    
}

a {
    color: white;
    text-decoration: none;
}
